#bd{
    background-color: rgb(113, 131, 54);
    margin:0px;
    display: flex;
    justify-content: center;
    
    align-items: center;
    height: 100vh;
    text-shadow:coral;
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/295/452/original/background-of-scientific-and-technological-system-for-calculating-complex-data-vector.jpg);
}
#h1{
    background-color: rgba(153, 183, 203, 0.51);
    display: flex;
    width: 100%;
    padding: 5px;
}
#h2{
    background-color: rgba(56, 177, 137, 0.61);
    display: flex;
    width: 100%;
    position:relative;
    left: right%;
    font: optional;

}
#Calculator{
    background-color: rgba(101, 101, 206, 0.923);
    align-content: center;
    max-width: 450px;
    font-family: Arial, sans-serif;
    background-color: black;
    border-radius: 15px;
    /* max-width: 500px; */
    overflow: hidden;
}
#display{
    width: 100%;
    height: 10%;
    padding: 20px;
    text-align: left;
    background-color: rgb(213, 226, 210);
    color: black;
    font-size: 3rem;
    border: 0;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
    padding: 30px;
}
button{
    width: 80px;
    height: 50px;
    border-radius:50px;
    border: none;
    background-color: rgba(153, 183, 173, 0.61);
    color: black;
    font-size: 3rem;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: rgba(153, 188, 190, 1.21);
}
button:active{
    background-color: rgba(153, 193, 230, 1.91);
}
.operator-btn{
    background-color: rgba(255, 166, 0, 100%);
}
.operator-btn:hover{
    background-color: rgba(220, 151, 24, 80%);
}
.operator-btn:hover:active{
    background-color: rgba(220, 151, 24, 110%);
}